<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salton123.xm"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".XmApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data
            android:name="app_key"
            android:value="b617866c20482d133d5de66fceb37da3" />

        <meta-data
            android:name="pack_id"
            android:value="com.app.test.android" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 授权Activity -->
        <activity
            android:name="com.ximalaya.ting.android.opensdk.auth.component.XmlyBrowserComponent"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- 购买Activity -->
        <activity
            android:name="com.ximalaya.ting.android.xmpayordersdk.XmPayOrderActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".download.DownloadTrackActivity"></activity>
        <activity android:name=".download.DownloadActivity"></activity>
        <activity android:name=".download.BatchDownloadActivity"></activity>
        <activity
            android:name=".pay.PayActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name="com.ximalaya.ting.android.opensdk.player.service.XmPlayerService"
            android:exported="true"
            android:process=":player"></service>

        <receiver
            android:name="com.ximalaya.ting.android.opensdk.player.receive.PlayerReceiver"
            android:exported="true"
            android:process=":player">
            <intent-filter>
                <action android:name="com.ximalaya.ting.android.ACTION_CONTROL_START_PAUSE" />
                <action android:name="com.ximalaya.ting.android.ACTION_CONTROL_PLAY_PRE" />
                <action android:name="com.ximalaya.ting.android.ACTION_CONTROL_PLAY_NEXT" />
                <action android:name="com.ximalaya.ting.android.ACTION_CLOSE" />
                <action android:name="com.ximalaya.ting.android.ACTION_CONTROL_RELEASE_SERVICE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.ximalaya.ting.android.opensdk.player.receive.WireControlReceiver"
            android:exported="true"
            android:process=":player" />

        <receiver
            android:name=".reciver.MyPlayerReceiver"
            android:exported="true"
            android:process=":player">
            <intent-filter>
                <action android:name="com.salton123.xm.Action_Close" />
            </intent-filter>
        </receiver>

    </application>

</manifest>